.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 30px 80px 40px;
  box-sizing: border-box;
}

.header__title {
  max-width: 709px;
  margin-top: 124px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 58px;
  line-height: 72px;
  font-weight: normal;
}

.header__span-accent {
  display: block;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-top: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  right: 80px;
  top: 183px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}