.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}