.recipes {
  background-color: #0a2850;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-size: cover;
  padding: 100px 80px;
  color: #ffffff;
}

.recipes__title {
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  margin-bottom: 24px;
}

.recipes__subtitle {
  max-width: 580px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.recipes__video-item {
  max-width: 480px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  margin-top: 24px;
  font-size: 20px;
  line-height: 30px;
}